body {
  font-family: 'Lato', sans-serif;
  background-color: #ECF0F1;
  color: #2C3E50;
  margin: 0;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  color: #2C3E50;
}

header, footer {
  background-color: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

strong {
  color: #E67E22;
}
